/* DARK MODE FOR MINIMA */
body, .site {
  background-color: #0d0d0d !important;
  color: #e6e6e6 !important;
}

a, a:visited {
  color: #ff8c00 !important; /* pomarańczowy */
}
a:hover, a:focus {
  color: #ffa500 !important;
}

.site-header, .site-footer {
  background-color: #0d0d0d !important;
  border-top: 1px solid #222 !important;
  border-bottom: 1px solid #222 !important;
}

.page-content {
  background-color: #0d0d0d !important;
}

h1,h2,h3,h4,h5,h6 {
  color: #ffffff !important;
}

pre, code {
  background-color: #111 !important;
  color: #e6e6e6 !important;
}
